// CSS Styles for zacksheppard.com
// Created by Zack Sheppard - 2018
// License and full source code at https://github.com/zackzachariah/my-homepage
// Inspired and helped by the Resume template at https://github.com/BlackrockDigital/startbootstrap-resume

section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 65rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
}

// Once onto a tablet at least, move the pages to "one per page" mode
@media (min-width: 768px) {
  section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }

  section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
