// CSS Styles for zacksheppard.com
// Created by Zack Sheppard - 2018
// License and full source code at https://github.com/zackzachariah/my-homepage
// Inspired and helped by the Resume template at https://github.com/BlackrockDigital/startbootstrap-resume

body {
  @include body-font;
  color: $text-color;

  // Room up top for the navbar (overridden below for wide screens)
  padding-top: 54px;
}

.img-profile {
  display: block;
  max-width: $profile-size-large;
  max-height: $profile-size-large;
  border: 0.5rem solid rgba($color: $theme-primary, $alpha: 0.2);
}

@media(min-width: 768px) {
  // For wide screens, move the navbar to the left instead.
  body {
    padding-top: 0;
    padding-left: $sidebar-width;
  }

  .img-profile {
    max-width: $profile-size-small;
    max-height: $profile-size-small;
  }

  .mobile-only {
    display: none;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-full-width;
  }

  .img-profile {
    max-width: $profile-size-large;
    max-height: $profile-size-large;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include heading-font;
  font-weight: 700;
  color: $text-color;
}

.uppercase {
  text-transform: uppercase;
}

// TODO(zack): double check these weights and sizes are good
h1 {
  font-size: 3.5rem;
  line-height: 0.915em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media(min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 0.915em;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-weight: 500;
  color: $outer-space;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  margin-bottom: 2rem;
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $outer-space;
    color: $cornsilk !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $theme-primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  text-align: center;
  .list-inline-item i {
    &:hover {
      color: $theme-primary;
    }
  }
}