.bg-primary {
  background-color: #0b3954 !important; }

.text-primary {
  color: #0b3954 !important; }

.text-secondary {
  color: #c84630 !important; }

a {
  color: #0b3954;
  border-bottom: 1px dotted #0b3954; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    border-bottom: 1px solid #020b10;
    color: #020b10; }

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #0a090c;
  padding-top: 54px; }

.img-profile {
  display: block;
  max-width: 13rem;
  max-height: 13rem;
  border: 0.5rem solid rgba(11, 57, 84, 0.2); }

@media (min-width: 768px) {
  body {
    padding-top: 0;
    padding-left: 15rem; }
  .img-profile {
    max-width: 11rem;
    max-height: 11rem; }
  .mobile-only {
    display: none; } }

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 20rem; }
  .img-profile {
    max-width: 13rem;
    max-height: 13rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'museo500', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  color: #0a090c; }

.uppercase {
  text-transform: uppercase; }

h1 {
  font-size: 3.5rem;
  line-height: 0.915em; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 0.915em; }
  h2 {
    font-size: 3.5rem; }
  h3 {
    font-size: 2rem; } }

p.lead {
  font-size: 1.15rem;
  font-weight: 400; }

.subheading {
  font-weight: 500;
  color: #3e505B;
  font-family: 'museo500', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.5rem; }

.social-icons {
  margin-bottom: 2rem; }
  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #3e505B;
    color: #fff4e0 !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem; }
    .social-icons a:last-child {
      margin-right: 0; }
    .social-icons a:hover {
      background-color: #0b3954; }

.dev-icons {
  font-size: 3rem;
  text-align: center; }
  .dev-icons .list-inline-item i:hover {
    color: #0b3954; }

#navbar a {
  border-bottom: none; }
  #navbar a:hover, #navbar a:focus, #navbar a:active {
    text-decoration: none;
    border-bottom: none; }

#navbar .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }

#navbar .navbar-toggler:focus {
  outline-color: #146798; }

@media (min-width: 768px) {
  #navbar {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 100vh; }
    #navbar .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
      #navbar .navbar-brand .img-profile {
        border-color: rgba(255, 255, 255, 0.2); }
    #navbar .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
      #navbar .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        #navbar .navbar-collapse .navbar-nav .nav-item {
          display: block; }
          #navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
            display: block; } }

@media (min-width: 992px) {
  #navbar {
    width: 20rem; } }

section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 65rem; }
  section .resume-item .resume-date {
    min-width: none; }

@media (min-width: 768px) {
  section {
    min-height: 100vh; }
    section .resume-item .resume-date {
      min-width: 18rem; }
  section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; } }
