// Created 1/2019 by Zack Sheppard (zacksheppard.com)

#about-me {
  .dev-icons {
    display: flex;
    direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .dev-icon {
      font-size: 3rem;
      height: 3.5rem;
      width: 3.5rem;
      display: inline-block;
      color: $white;
      border-radius: 1.75rem;
      text-align: center;
      line-height: 3.35rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  .resume-item {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;

    .resume-meta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;

      padding-bottom: 1rem;

      @include media-breakpoint-only(md) {
        flex-direction: row;
      }

      @include media-breakpoint-up(xl) {
        flex-direction: row;
      }
    }

    h3 {
      margin-top: 0;
    }

    // For md or xl+, put the date over to the right
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }

    @include media-breakpoint-only(md) {
      flex-direction: row;
    }

    .resume-date {
      color: $red;
      opacity: 0.8;
    }
  }
}
