// Created 1/2019 by Zack Sheppard (zacksheppard.com)

#resume {
  .resume-item {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;

    h3 {
      margin-top: 0;
    }

    // For md or xl+, put the date over to the right
    @include media-breakpoint-up(xl) {
      flex-direction: row;
    }

    @include media-breakpoint-only(md) {
      flex-direction: row;
    }

    .resume-date {
      text-align: left;
      color: $red;
      opacity: 0.8;

      // For md or xl+, put the date over to the right
      @include media-breakpoint-up(xl) {
        min-width: 12rem;
        text-align: right;
      }

      @include media-breakpoint-only(md) {
        min-width: 12rem;
        text-align: right;
      }
    }
  }
}
