// Created 1/2019 by Zack Sheppard (zacksheppard.com)

#hero {
  background-image: url("/static/img/zack-suited.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 6vw;

    @include media-breakpoint-down(md) {
      font-size: 4rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }
  }

  .bio {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  @media (min-width: 1500px) {
    h1 {
      font-size: 6.5rem;
    }
  }
}

#social {
  $socialHoverTime: 0.3s;

  display: flex;
  direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .fa-link {
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    display: inline-block;
    background: $white;
    border-radius: 1.75rem;
    text-align: center;
    line-height: 3.35rem;
    margin-right: 1rem;

    @include transition(all $socialHoverTime linear);

    &:hover {
      background: rgba($white, 0.8);
    }
  }

  a {
    color: $blue;

    @include transition(all $socialHoverTime linear);

    &:hover {
      color: $black;
    }
  }
}
