// Created 1/2019 by Zack Sheppard (zacksheppard.com)

.page-wrapper {
  display: flex;
  flex-direction: row;

  #content,
  #hero {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  #content {
    background-color: $black;
    color: $white;
    padding: 0 100px;
  }

  #hero {
    background-image: url("/static/img/zack-suited.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
  }
}

.home-welcome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #social {
    padding-top: 1rem;
  }
}

.fa-link {
  font-size: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
  background: $white;
  border-radius: 1.75rem;
  text-align: center;
  line-height: 3.35rem;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
}
