// Created 1/2019 by Zack Sheppard (zacksheppard.com)

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@font-face {
  font-family: "Museo";
  font-weight: bold;
  font-style: normal;
  src: url("/static/webfonts/389018_0_0.eot");
  src: url("/static/webfonts/389018_0_0.eot?#iefix") format("embedded-opentype"),
    url("/static/webfonts/389018_0_0.woff2") format("woff2"),
    url("/static/webfonts/389018_0_0.woff") format("woff"),
    url("/static/webfonts/389018_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Museo";
  font-weight: normal;
  font-style: normal;
  src: url("/static/webfonts/389018_1_0.eot");
  src: url("/static/webfonts/389018_1_0.eot?#iefix") format("embedded-opentype"),
    url("/static/webfonts/389018_1_0.woff2") format("woff2"),
    url("/static/webfonts/389018_1_0.woff") format("woff"),
    url("/static/webfonts/389018_1_0.ttf") format("truetype");
}

$font-family-headers: "Museo";

h1,
h2 {
  font-family: $font-family-headers;
}

h1,
h2 {
  font-weight: bold;

  strong {
    color: $red;
  }
}

h3,
h4 {
  font-weight: bold;
}

h2,
h3 {
  margin-top: 2.5rem;
}

.big {
  font-size: 1.2em;
}

h1.big {
  font-size: 5rem;
}

p {
  word-spacing: 0.1em;
  line-height: 1.7;
}

a,
button.btn-link {
  color: $white;
  border-bottom: 1px dashed $white;
  font-weight: bold;

  @include transition(all 0.25s linear);

  &:visited {
    color: $honeydew;
    border-color: $honeydew;
  }

  &:hover {
    color: $white;
    border-bottom: 1px solid $white;
    text-decoration: none;
  }

  &:active {
    color: $red;
    border-bottom: 1px solid $red;
  }
}
