// Created 1/2019 by Zack Sheppard (zacksheppard.com)

.page-wrapper {
  position: relative;
  width: 100%;
  background-color: $black;

  #hero {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: $zindex-fixed;

    @include media-breakpoint-down(md) {
      position: relative;
      height: 40vh;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: unset;
    }
  }

  #content {
    background-color: $black;
    color: $white;
    padding: 0;
    width: 50%;

    @include media-breakpoint-down(md) {
      width: 100%;
      margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
      min-height: 100vh;
    }

    .content-pane > section {
      padding: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media-breakpoint-down(md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      @include media-breakpoint-down(sm) {
        padding: 3rem;
      }

      @include media-breakpoint-up(lg) {
        min-height: 100vh;
      }
    }

    .cta-arrow {
      width: 34px;
      height: 12px;
      display: block;
      margin: 0 auto;
    }

    .back-to-top {
      cursor: default;
      text-align: center;
      position: fixed;
      top: 0;
      padding: 1rem 0;
      width: 50%;
      z-index: $zindex-sticky;

      background: linear-gradient(
        to bottom,
        $black,
        rgba($black, 0.8) 70%,
        rgba($black, 0) 100%
      );

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      // When not scrolled, hide this
      opacity: 0;

      @include transition(opacity 0.5s linear);
    }

    &.scrolled .back-to-top {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}
