// Created 1/2019 by Zack Sheppard (zacksheppard.com)

.page-wrapper {
  position: relative;
  width: 100%;
  background-color: $black;

  #hero {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: $zindex-fixed;

    @include media-breakpoint-down(md) {
      position: relative;
      height: 40vh;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: unset;
    }

    @supports (position: sticky) and (object-fit: cover) {
      display: none;
    }
  }

  #content {
    background-color: $black;
    color: $white;
    padding: 0;

    @include media-breakpoint-up(lg) {
      min-height: 100vh;
    }

    section {
      .associated-image {
        display: none;

        @supports (position: sticky) and (object-fit: cover) {
          display: block;
          width: 50vw;

          position: sticky;
          top: 0px;
          z-index: $zindex-sticky - 1;
          float: right;

          img {
            height: 100vh;
            width: 50vw;
            object-fit: cover;
          }

          @include media-breakpoint-down(md) {
            position: relative;
            width: 100vw;

            img {
              width: 100vw;
              height: 40vh;
            }
          }
        }
      }

      & > .content-pane {
        width: 50%;

        @include media-breakpoint-down(md) {
          width: 100%;
          margin-top: 0;
        }

        padding: 50px 100px 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-down(md) {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }

        @include media-breakpoint-down(sm) {
          padding: 3rem;
        }

        @include media-breakpoint-down(xs) {
          padding-top: 1rem;
        }

        @include media-breakpoint-up(lg) {
          min-height: 100vh;
        }
      }

      &:last-child > .content-pane {
        padding-bottom: 50px;
      }
    }

    .cta-arrow {
      width: 34px;
      height: 12px;
      display: block;
      margin: 0 auto;
    }

    .back-to-top {
      cursor: default;
      text-align: center;
      position: fixed;
      top: 0;
      padding: 1rem 0;
      width: 50%;
      z-index: $zindex-sticky;

      background: linear-gradient(
        to bottom,
        $black,
        rgba($black, 0.8) 70%,
        rgba($black, 0) 100%
      );

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      // When not scrolled, hide this
      opacity: 0;

      @include transition(opacity 0.5s linear);
    }

    &.scrolled .back-to-top {
      cursor: pointer;
      opacity: 0.9;
    }
  }
}
