// Created 1/2019 by Zack Sheppard (zacksheppard.com)

// Theme colors
$black: #071114;
$white: #f7fbfc;
$blue: #284b63;
$honeydew: #e8f7ee;
$red: #d90429;
$error: $red;

$h1-font-size: 3.5rem;

$grid-gutter-width: 32px;
