// Created 1/2019 by Zack Sheppard (zacksheppard.com)

// Theme colors
$black: #021114;
$white: #f7fbfc;
$blue: #284b63;
$honeydew: #e8f7ee;
$red: #d90429;
$error: $red;

$h1-font-size: 5rem;
$h1-mobile-font-size: 3rem;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
